@import 'https://fonts.googleapis.com/css?family=Roboto+Mono';
* {
  box-sizing: border-box; }

body {
  user-select: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono';
  font-size: 4rem;
  background: linear-gradient(to bottom, #e57d98, #fbe3a7); }

button {
  width: 4rem;
  font-size: 1.33333rem;
  height: 4rem;
  background: none;
  font-family: 'Roboto Mono';
  color: #eaeaea;
  border: none;
  cursor: pointer;
  transition: color 300ms ease-in-out; }
  button:hover {
    color: #fbe3a7; }
  button:focus {
    outline: none; }

.calculator {
  position: relative;
  width: 16rem;
  border-radius: 5px;
  background: #343838;
  box-shadow: rgba(52, 56, 56, 0.7) 2px 2px 15px; }

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: 'func oper' 'num oper'; }

.calc-display {
  width: 16rem;
  border-radius: 5px;
  background: #343838;
  box-shadow: rgba(52, 56, 56, 0.7) 2px 2px 15px;
  padding: 1.6rem 1.33333rem;
  text-align: right;
  color: #eaeaea;
  margin-bottom: 2rem; }
  .calc-display .current {
    margin-top: 1rem;
    font-size: 2rem; }
  .calc-display .entered {
    color: #848484;
    font-size: 1rem; }

.calc-numbers {
  grid-area: num;
  width: 12rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  float: left; }

.calc-functions {
  grid-area: func;
  width: 12rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  float: left; }

.calc-operations {
  grid-area: oper;
  width: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  float: left; }

/* CIRCLE MOD 
button {
  border-radius: 50%;
  width: $btn-size * 0.75;
  height: $btn-size * 0.75;
  margin: $btn-size * 0.125;
  background: $black;
}
.calculator {
  background: none;
  box-shadow: none;
}
.calc-display {
  box-shadow: none;
  border-radius: $btn-size;
  padding: 0rem 2rem 0 0;
  .entered {
    margin-top: .5rem;
  }
  .current {
    margin: 0 0 .5rem;
  }
}
*/
